.personal-info{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
    padding: 20px;
    margin: 50px auto;
}
.form-group{
    margin-bottom: 15px;
    label{
        margin-bottom: 5px;
    }
}