<div class="filter-slider-button-wrapper">
  <button id="btn-left" class="slider-btn btn-left" (click)="onScrollLeft()">
    🡸
  </button>
  <div class="slider-icons-wrapper">
    <div
      class="slider-icons"
      *ngFor="let item of filterSliderButtonsList"
      (mousemove)="dragging($event)"
      (mousedown)="dragStart($event)"
      (mouseup)="dragStop()"
    >
      <button (click)="onCategoriesClick(item)" class="filter-slider-button">
        <img class="filter-slider-img" [src]="item.icon" />
        <span>{{ item.name }}</span>
      </button>
    </div>
  </div>
  <button id="btn-right" class="slider-btn btn-right" (click)="onScrollRight()">
    🡺
  </button>
</div>
