.filter-button {
  height: 3rem;
  width: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  border: 0.3px solid rgb(141, 138, 138);
  background-color: inherit;
  border-radius: 0.8rem;
  cursor: pointer;
}
.showmodal {
  background-color: rgba(20, 94, 185, 0.2);
  opacity: 1;
  display: block;
  align-items: center;
}

.modal-dialog {
  padding: 2% 2%;
  margin-top: 5%;
}
.modal-content {
  height: 80vh;
  width: 45rem;
  padding: 0 5%;
  transform: translate(-25%);
  border-radius: 1rem;
}

.modal-body {
  overflow-y: scroll;
}
