

.bannerImg {
  margin: 20px 0;
  border-radius: 15px;
  height: 500px;
}

.description{
  margin-bottom: 20px;
}

h2 {
  margin-right: 30%;
}
@media screen and (max-width: 792px) {
  .description{
    flex-wrap: wrap;
  }
  .cont-max-width{
    max-width: 100% !important;
  }
  .bannerImg {
    margin: 3px 0;
    height: 50%;
  }
  app-hotel-information{
    width: 100% !important;
  }
}
app-hotel-reserve{
  width: 100%;
}