<!-- <h1>This is the page of your chosen hotel !!</h1>
<h3>This hotel's ID is <b>{{hotelId}}</b></h3> -->

<section class="col-md-12 cont-max-width cont-max-width m-auto">
  <div class="col col-md-12">
    <img
      [src]="currentHotel.mainImages[0]"
      class="card-img-top bannerImg"
      alt="..."
      style="object-fit: cover"
    />
  </div>
  <div class="row description">
    <div class="col-md-9">
      <app-hotel-information
        [currentHotel]="this.currentHotel"
      ></app-hotel-information>
    </div>
    <div class="col-md-3">
      <app-hotel-reserve [currentHotel]="this.currentHotel"></app-hotel-reserve>
    </div>
  </div>
</section>
