.cont-max-width {
  width: 60% !important;
}

.bannerImg {
  margin: 20px 0;
  border-radius: 15px;
  height: 500px;
}

h2 {
  margin-right: 30%;
}

.col-md-4 {
  margin-left: 8%;
  border: 1px solid rgb(167, 159, 159);
  border-radius: 15px;
  height: 380px;
}
.price {
  margin: 20px 0 10px 20px;
  font-size: 20px;
}

.date-picker {
  align-items: center;
  margin-left: auto;
  margin-right: 20%;
}
mat-form-field {
  margin-top: 10px;
  margin-left: 5%;

  height: 95px;
  width: 90%;
}

mat-datepicker-toggle {
  margin-left: 80%;
}
mat-label {
  margin-left: 20%;
}

.reserve-btn {
  left: 5%;
  top: 20px;
  width: 90%;
  height: 50px;
}
.chooseDays {
  margin-top: 70px;
  margin-left: 15px;
}
.cost {
  margin-top: 15px;
  margin-left: 15px;
}
.daysAndPrice {
  font-size: 18px;
}
