<!-- <h1>This is the page of your chosen hotel !!</h1>
<h3>This hotel's ID is <b>{{hotelId}}</b></h3> -->

<section class="col-md-12 cont-max-width cont-max-width m-auto">
  <div class="col col-md-12">
    <img [src]="currentHotel.image" class="card-img-top bannerImg" alt="..." />
  </div>
  <div class="col-md-12 d-flex">
    <!-- left aside body start -->
    <aside class="col-md-7">
      <div class="d-flex title-star">
        <h2>{{ currentHotel.title }}</h2>
        <p class="star">✨✨✨✨✨</p>
      </div>
      <p>{{ currentHotel.address }}</p>

      <hr />

      <h3>Addition Info You Should Know</h3>
      <p>
        {{ currentHotel.description }}
      </p>
      <hr />
      <!-- start image slider -->
      <h3>Hotel Rooms</h3>
      <app-image-slider [hotelRoomsImages]="this.currentHotel.hotelRoomsImages"></app-image-slider>
      <!-- finish image slider -->
      <hr />
    </aside>
    <!-- left aside body finish -->
    <!-- --------------------------------- -->
    <!-- right aside body start -->
    <aside class="col-md-4">
      <div class="col col-md-12 calculator">
        <p class="price">
          <b>$ {{ currentHotel.price }}</b> nigth
        </p>

        <!-- //here starts date picker -->


        <app-date-picker [currentHotel]="this.currentHotel" (numberOfDaysEmitter)="numberOfDaysChanged($event)"></app-date-picker>

        <!-- //here ends date picker -->

        <button class="reserve-btn" mat-raised-button color="warn">
          Reserve
        </button>

        <div class="chooseDays d-flex">
          <p class="daysAndPrice">Number of days:</p>
          <p class="daysAndPrice number-of-days">
            <b>{{ numberOfDays }}</b>
          </p>
        </div>
        <hr />
        <div class="cost d-flex">
          <p class="daysAndPrice">
            <b>Total </b>
          </p>
          <p class="daysAndPrice total-cost">
            <b>{{ cost }} $</b>
          </p>
        </div>
      </div>
    </aside>
    <!-- right aside body finish -->
  </div>
</section>
