<div class="card-group">
  <div class="card">
    <div class="carousel-container d-flex">
      <img
        routerLink="/hotel/{{ card.id }}"
        *ngFor="let img of card.mainImages; let i = index"
        [src]="img"
        alt=""
        [ngClass]="{ 'image-active': selectedIndex === i }"
        class="animation-slider"
      />

      <div class="carousel-dot-container">
        <span
          *ngFor="let dot of card.mainImages; let i = index" 
          class="dot"
          [ngClass]="{ active: selectedIndex === i }"
          (click)="selectImage(i)"
        ></span>
      </div>

      <button class="btn-carousel btn-prev">
        <i
          class="fa fa-arrow-circle-left icon-carousel icon-prev"
          (click)="onPrevClick()"
        ></i>
      </button>

      <button class="btn-carousel btn-next">
        <i
          class="fa fa-arrow-circle-right icon-carousel icon-next"
          (click)="onNextClick()"
        ></i>
      </button>
    </div>

    <div class="card-body" routerLink="/hotel/{{ card.id }}">
      <p class="card-title">{{ card.name }}</p>
      <p class="card-text hotel-reiting">
        <span
          ><svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            role="presentation"
            focusable="false"
            style="
              display: block;
              height: 12px;
              width: 12px;
              fill: currentcolor;
            "
          >
            <path
              d="M15.094 1.579l-4.124 8.885-9.86 1.27a1 1 0 0 0-.542 1.736l7.293 6.565-1.965 9.852a1 1 0 0 0 1.483 1.061L16 25.951l8.625 4.997a1 1 0 0 0 1.482-1.06l-1.965-9.853 7.293-6.565a1 1 0 0 0-.541-1.735l-9.86-1.271-4.127-8.885a1 1 0 0 0-1.814 0z"
              fill-rule="evenodd"
            ></path></svg
        ></span>
        <span> {{ card.starCount }}</span>
      </p>
      <p class="card-text"><b>$ {{card.rooms[0].price}}</b> night</p>
    </div>

    <div class="wishlist">
      <button type="button" class="wishlist-btn" (click)="addCardInWishlist()">
        <svg
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          role="presentation"
          focusable="false"
          style="
            display: block;
            fill: rgba(0, 0, 0, 0.5);
            height: 24px;
            width: 24px;
            stroke: var(--f-mkcy-f);
            stroke-width: 2;
            overflow: visible;
          "
        >
          <path [ngClass]="this.inWishlist ? ['inWishlist'] : ['']"
            d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
