<section class="property-type">
  <header>
    <h3>Property type</h3>
  </header>
  <div class="hagt-wrapper">
    <div class="hagt">
      <input
        type="radio"
        name="propertyOfType"
        id="house"
        value="Home"
        (change)="onChangeHouse($event)"
      />
      <label for="house">
        <img
          class="hagt-img"
          src="https://a0.muscache.com/pictures/4d7580e1-4ab2-4d26-a3d6-97f9555ba8f9.jpg
          "
          alt="house"
        />
        <h5>House</h5>
      </label>
    </div>
    <div class="hagt">
      <input
        type="radio"
        name="propertyOfType"
        id="apartament"
        value="apartament"
        (change)="onChangeApartament($event)"
      />
      <label for="apartament">
        <img
          class="hagt-img"
          src="https://a0.muscache.com/pictures/21cfc7c9-5457-494d-9779-7b0c21d81a25.jpg
          "
          alt="apartament"
        />
        <h5>Apartament</h5>
      </label>
    </div>
    <div class="hagt">
      <input
        type="radio"
        name="propertyOfType"
        id="guesthouse"
        value="Villa"
        (change)="onChangeGuesthouse($event)"
      />
      <label for="guesthouse">
        <img
          class="hagt-img"
          src="https://a0.muscache.com/pictures/6f261426-2e47-4c91-8b1a-7a847da2b21b.jpg
          "
          alt="Villa"
        />
        <h5>Villa</h5>
      </label>
    </div>
    <div class="hagt">
      <input
        type="radio"
        name="propertyOfType"
        id="hotel"
        value="hotel"
        (change)="onChangeHotel($event)"
      />
      <label for="hotel">
        <img
          class="hagt-img"
          src="https://a0.muscache.com/pictures/64b27fed-56a1-4f03-950a-d8da08efb428.jpg
          "
          alt="hotel"
        />
        <h5>Hotel</h5>
      </label>
    </div>
  </div>
</section>
