<section class="property-type">
  <header>
    <h3>Property type</h3>
  </header>
  <div class="hagt-wrapper">
    <div class="hagt">
      <input type="checkbox" name="house" id="house" />
      <label for="house">
        <img
          class="hagt-img"
          src="https://a0.muscache.com/pictures/4d7580e1-4ab2-4d26-a3d6-97f9555ba8f9.jpg
          "
          alt="house"
        />
        <h5>House</h5>
      </label>
    </div>
    <div class="hagt">
      <input type="checkbox" name="apartament" id="apartament" />
      <label for="apartament">
        <img
          class="hagt-img"
          src="https://a0.muscache.com/pictures/21cfc7c9-5457-494d-9779-7b0c21d81a25.jpg
          "
          alt="apartament"
        />
        <h5>Apartament</h5>
      </label>
    </div>
    <div class="hagt">
      <input type="checkbox" name="guesthouse" id="guesthouse" />
      <label for="guesthouse">
        <img
          class="hagt-img"
          src="https://a0.muscache.com/pictures/6f261426-2e47-4c91-8b1a-7a847da2b21b.jpg
          "
          alt="guesthouse"
        />
        <h5>Guesthouse</h5>
      </label>
    </div>
    <div class="hagt">
      <input type="checkbox" name="hotel" id="hotel" />
      <label for="hotel">
        <img
          class="hagt-img"
          src="https://a0.muscache.com/pictures/64b27fed-56a1-4f03-950a-d8da08efb428.jpg
          "
          alt="hotel"
        />
        <h5>Hotel</h5>
      </label>
    </div>
  </div>
</section>
