.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
form {
  width: 400px;
}

button {
  margin-bottom: 10px;
}
.forgot-password {
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
}
.dropdown-menu.show {
  padding: 10px 5px !important;
}

