<h1 mat-dialog-title>Log in</h1>
<div mat-dialog-content>
  <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="password"
      />
      <p class="forgot-password" (click)="forgotPassword()">Forgot Password</p>
    </div>
    <button type="submit" class="btn btn-primary" mat-dialog-close>
      Log In
    </button>
    <br />
    <button
      type="button"
      class="btn btn-primary"
      (click)="signInWithGoogle()"
      mat-dialog-close
    >
      Log In With Google
    </button>
    <br />
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
