<article class="profile-page">
  <div class="reserved">
    <div class="col-md-12">
      <h2>Reserved Hotels</h2>
    </div>
    <div class="reserved-hotel-card">
      <app-profile-reserved-card
        *ngFor="let hotel of reservedHotelArray; let index = index"
        [card]="hotel.hotel"
        [startDate]="hotel.startDate"
        [endDate]="hotel.endDate"
        [reservedDate]="hotel.reserveDate"
        [price]="hotel.pricePaid"
        [index]="index"
      ></app-profile-reserved-card>
    </div>
  </div>

  <div class="wishlist">
    <div class="col-md-12">
      <h2>Favourite Hotels</h2>
    </div>
    <div class="reserved-hotel-card">
      <app-card *ngFor="let card of wishlistArray" [card]="card"></app-card>
    </div>
  </div>
</article>
