<aside class="col-md-10">
  <app-hotel-name [currentHotel]="this.currentHotel"></app-hotel-name>

  <app-hotel-address [HotelAddress]="this.currentHotel.address"></app-hotel-address>
  <hr />
  <app-hotel-description [currentHotel]="this.currentHotel"></app-hotel-description>
  <hr />
  <app-host-information [hostLanguage]="this.currentHotel.hostLanguage" [hostInformation]="this.currentHotel.hostInformation"></app-host-information>
  <hr />

  <app-hotel-rooms [HotelRooms]="this.currentHotel.rooms"></app-hotel-rooms>
  <hr />
  <app-image-slider [hotelRoomsImages]="this.images"></app-image-slider>
  <hr />
  <app-hotel-map [curentHotel]="this.currentHotel"></app-hotel-map>
</aside>
