<aside class="col-md-7">
  <app-hotel-name [currentHotel]="this.currentHotel"></app-hotel-name>

  <app-hotel-address [HotelAddress]="this.currentHotel.address"></app-hotel-address>
  <hr />
  <app-hotel-description [Hoteldescription]="this.currentHotel.description"></app-hotel-description>
  <hr />

  <app-hotel-rooms [HotelRooms]="this.currentHotel.rooms"></app-hotel-rooms>
  <hr />
  <app-image-slider [hotelRoomsImages]="this.images"></app-image-slider>
  <hr />
  <app-hotel-map [curentHotel]="this.currentHotel"></app-hotel-map>
</aside>
