.filter-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding-right: 80px;
  padding-left: 80px;
}
.buttons-slider {
  width: 90%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.filter-modal-area {
  display: flex;
  align-items: center;
}
