.filter-area {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
.buttons-slider {
  height: 10vh;
  width: 90%;
  display: flex;
  align-items: center;
}
.filter-modal-area {
  display: flex;
  align-items: center;
  height: 10vh;
}
