<section class="host-language">
  <header>
    <h3>Host language</h3>
  </header>
  <div class="checkbox-wrapper">
    <div class="form-check" *ngFor="let item of HostLanguage.slice(0, 4)">
      <ng-container>
        <label class="form-check-label" for="{{ item }}">
          <span>{{ item }}</span>
        </label>
        <input
          class="form-check-input"
          type="checkbox"
          id="{{ item }}"
          value="{{ item }}"
          (change)="onHostLanguage($event)"
        />
      </ng-container>
    </div>
    <ng-container *ngIf="!showMore">
      <div
        class="form-check"
        *ngFor="let item of HostLanguage.slice(4, HostLanguage.length)"
      >
        <label class="form-check-label" for="{{ item }}">
          <span>{{ item }}</span>
        </label>
        <input
          class="form-check-input"
          type="checkbox"
          id="{{ item }}"
          value="{{ item }}"
          (change)="onHostLanguage($event)"
        />
      </div>
    </ng-container>

    <button type="button" class="more-less" (click)="onShowMore()">
      {{ showMore ? "Show more" : "Show less" }}
    </button>
  </div>
</section>
