<section class="amenities">
  <header>
    <h3>Amenities</h3>
  </header>
  <div class="essentials">
    <h4>Essentials</h4>
    <div class="checkbox-wrapper">
      <div class="form-check" *ngFor="let item of amenities.essentials">
        <label class="form-check-label" for="{{ item }}">
          <span>{{ item }}</span>
        </label>
        <input
          class="form-check-input"
          type="checkbox"
          id="{{ item }}"
          value="{{ item }}"
          (change)="onEssntials($event)"
        />
      </div>
    </div>
  </div>
  <ng-container *ngIf="!showMore">
    <div class="features">
      <h4>Features</h4>
      <div class="checkbox-wrapper">
        <div class="form-check" *ngFor="let item of amenities.features">
          <label class="form-check-label" for="{{ item }}">
            <span>{{ item }}</span>
          </label>
          <input
            class="form-check-input"
            type="checkbox"
            value="{{ item }}"
            (change)="onFeatures($event)"
          />
        </div>
      </div>
    </div>
    <div class="location">
      <h4>Location</h4>
      <div class="checkbox-wrapper">
        <div class="form-check" *ngFor="let item of amenities.location">
          <label class="form-check-label" for="{{ item }}">
            <span>{{ item }}</span>
          </label>
          <input
            class="form-check-input"
            type="checkbox"
            id="{{ item }}"
            value="{{ item }}"
            (change)="onLocation($event)"
          />
        </div>
      </div>
    </div>
    <div class="safety">
      <h4>Safety</h4>
      <div class="checkbox-wrapper">
        <div class="form-check" *ngFor="let item of amenities.safety">
          <label class="form-check-label" for="{{ item }}">
            <span>{{ item }}</span>
          </label>
          <input
            class="form-check-input"
            type="checkbox"
            id="{{ item }}"
            value="{{ item }}"
            (change)="onSafety($event)"
          />
        </div>
      </div>
    </div>
  </ng-container>
  <button type="button" class="more-less" (click)="onShowMore()">
    {{ showMore ? "Show more" : "Show less" }}
  </button>
</section>
