span {
  color: #999;
}
.checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.2rem;
}
.form-check {
  width: 50%;
  display: flex;
}

.form-check-input {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

label {
  margin-left: 1.2rem;
  width: 90%;
}
h3 {
  font-weight: 500;
}
