<section class="type-of-place">
  <header>
    <h3>Type of place</h3>
  </header>
  <div class="checkbox-wrapper">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="entrie-place"
        value="entire place"
        (change)="onEntryPlace($event)"
      />
      <label class="form-check-label" for="entrie-place">
        Entire place <br /><span>A place all to yourself</span>
      </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="private-room"
        value="private room"
        (change)="onPrivateRoom($event)"
      />
      <label class="form-check-label" for="private-room">
        Private room <br />
        <span>
          Your own room in a home or a hotel, plus some shared commonspaces
        </span>
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="shared-room"
        value="shared room"
        (change)="onSharedRoom($event)"
      />
      <label class="form-check-label" for="shared-room">
        Shared room <br /><span
          >A sleeping space and common areas that may be shared with
          others</span
        >
      </label>
    </div>
  </div>
</section>
