<section class="rooms-and-beds">
  <header>
    <h3>Rooms and beds</h3>
  </header>
  <div class="title-and-buttons">
    <h4>Rooms</h4>
    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <div *ngFor="let item of RoomsCount; let i = index">
        <input
          type="radio"
          class="btn-check"
          name="bedrooms"
          id="bedrooms{{ i }}"
          [checked]="item == 0"
          value="{{ item }}"
          (change)="onChangeBedrooms($event)"
        />
        <label class="btn btn-outline-primary" for="bedrooms{{ i }}">{{
          item == 0 ? "Any" : i
        }}</label>
      </div>
    </div>
  </div>

  <div class="title-and-buttons">
    <h4>BedsPerRoom</h4>
    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <div *ngFor="let item of BedsPerRoomCount; let i = index">
        <input
          type="radio"
          class="btn-check"
          name="beds"
          id="beds{{ i }}"
          [checked]="item == 0"
          value="{{ item }}"
          (change)="onChangeBeds($event)"
        />
        <label class="btn btn-outline-primary" for="beds{{ i }}">{{
          item == 0 ? "Any" : i
        }}</label>
      </div>
    </div>
  </div>

  <div class="title-and-buttons">
    <h4>BathRooms</h4>
    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <div *ngFor="let item of BathRoomsCount; let i = index">
        <input
          type="radio"
          class="btn-check"
          name="bathrooms"
          id="bathrooms{{ i }}"
          [checked]="item == 0"
          value="{{ item }}"
          (change)="onChangeBathrooms($event)"
        />
        <label class="btn btn-outline-primary" for="bathrooms{{ i }}">{{
          item == 0 ? "Any" : i
        }}</label>
      </div>
    </div>
  </div>
</section>
