.date-picker {
  align-items: center;
  margin-left: auto;
  margin-right: 20%;
}
mat-form-field {
  margin-top: 10px;
  margin-left: 5%;

  height: 95px;
  width: 90%;
}

mat-datepicker-toggle {
  margin-left: 80%;
}
mat-label {
  margin-left: 20%;
}
