<div class="credit-cards">
  <div class="cc" *ngFor="let item of this.creditCards; index as i">
    <span class="chip"></span>
    <span class="cc-number">{{ item.cardNumber }}</span>
    <span class="cc-date expedition"
      >{{ item.expirationDay }}/{{ item.expirationMonth }}</span
    >
    <span class="cc-name">{{ item.cardName }}</span>
    <button class="btn btn-danger" (click)="delete(i)">Delete</button>
  </div>
</div>
<div class="add-credit-card col-md-5 m-auto">
  <app-save-credit-card
    (onSubmitEmitter)="onSubmitCreditCard($event)"
  ></app-save-credit-card>
</div>
