.reserve-btn {
  left: 5%;
  top: 20px;
  width: 90%;
  height: 50px;
}
.chooseDays {
  margin-top: 70px;
  margin-left: 15px;
}
.cost {
  margin-top: 15px;
  margin-left: 15px;
}
.daysAndPrice {
  font-size: 18px;
}
.number-of-days {
  margin-left: 40%;
}
.total-cost {
  margin-left: 65%;
}
.price {
  margin: 20px 0 10px 20px;
  font-size: 20px;
}
.calendar {
  margin-left: 8%;
  border: 1px solid rgb(167, 159, 159);
  border-radius: 15px;
  height: 380px;
  width: max-content;
}
app-date-picker {
  align-items: center;
  margin-left: auto;
  margin-right: 20%;
}
@media screen and (max-width: 792px) {
  aside {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
