<aside class="calendar">
  <div class="col col-md-12 calculator">
    <p class="price">
      <b>$ {{ currentHotel.rooms[0].price }}</b> night
    </p>

    <app-date-picker
      [currentHotel]="this.currentHotel"
      (numberOfDaysEmitter)="numberOfDaysChanged($event)"
      (StartDateEndDate)="StartDateEndDate($event)"
    ></app-date-picker>

    <button (click)="reservationBtn()" class="reserve-btn" mat-raised-button color="warn">
      Reserve
    </button>

    <div class="chooseDays d-flex">
      <p class="daysAndPrice">Number of days:</p>
      <p class="daysAndPrice number-of-days">
        <b>{{ numberOfDays }}</b>
      </p>
    </div>
    <hr />
    <div class="cost d-flex">
      <p class="daysAndPrice">
        <b>Total </b>
      </p>
      <p class="daysAndPrice total-cost">
        <b>{{ cost }} $</b>
      </p>
    </div>
  </div>
</aside>
