<div class="dropdown">
  <button
    class="btn dropdown-toggle account"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <mat-icon>menu</mat-icon>
    <mat-icon>account_circle</mat-icon>
  </button>
  <ul class="dropdown-menu">
    <li *ngIf="user == null">
      <a class="dropdown-item" (click)="openDialogLogin()">Log in</a>
    </li>
    <li *ngIf="user == null">
      <a class="dropdown-item" (click)="openDialogRegister()">Sign up</a>
    </li>
    <li *ngIf="user != null">
      <a class="dropdown-item"
        ><b>{{ user.email }}</b></a
      >
    </li>
    <li *ngIf="user != null" routerLink="/trip">
      <a class="dropdown-item">Trip</a>
    </li>
    <li *ngIf="user != null" routerLink="/profile">
      <a class="dropdown-item">Profile</a>
    </li>
    <li *ngIf="user != null">
      <a class="dropdown-item" (click)="singOut()">Sign out</a>
    </li>
  </ul>
</div>
