// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$airbnb-team2-primary: mat.define-palette(mat.$pink-palette);
$airbnb-team2-accent: mat.define-palette(mat.$blue-grey-palette);
// The warn palette is optional (defaults to red).
$airbnb-team2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$airbnb-team2-theme: mat.define-light-theme(
  (
    color: (
      primary: $airbnb-team2-primary,
      accent: $airbnb-team2-accent,
      warn: $airbnb-team2-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($airbnb-team2-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//-------------------------------------Filter
.ngx-slider-pointer {
  cursor: pointer !important;
  width: 25px !important;
  height: 25px !important;
  top: -11px !important;
  background: rgb(87, 84, 84) !important;
  z-index: 3 !important;
  border-radius: 16px !important;
}

.ngx-slider-pointer:after {
  width: 0px !important;
  height: 0px !important;
}

.ngx-slider-selection {
  background: rgb(87, 84, 84) !important;
}
.ngx-slider-span.ngx-slider-bubble.ngx-slider-model-high,
.ngx-slider-span.ngx-slider-bubble.ngx-slider-model-value,
.ngx-slider-span.ngx-slider-bubble.ngx-slider-limit.ngx-slider-floor,
.ngx-slider-span.ngx-slider-bubble.ngx-slider-limit.ngx-slider-ceil {
  visibility: hidden !important;
}
.ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
  background-color: white !important;
  border: none !important;
}
.showmodal {
  background-color: rgba(220, 220, 220, 0.498) !important;
}


